.footer{
    margin-top: auto;
    width: 100%;
    background-color: var(--background);
    padding-top: 2rem;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
    font-size: 1em;
    padding: 1em 2em;
    width: 100%;
    box-sizing: border-box;
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
@media screen and (min-width: 768px){
    .footer-bottom{
        flex-direction: row;
        padding: 1.5em 2.5em;
    }
    
    .footer-bottom-right {
        margin-bottom: 0;
    }
}
